body {
    margin: 0;
}

header {
    background: #dbdbdb;
    padding-top: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #414e7a;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background: #fffce3;
    padding: 30px;
}

.tituloprincipal {
    padding-left: 20px;
}

.titulocentro {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 22px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: rgb(255, 210, 210);
    padding: 20px;
}

.beneul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: azure;
    font-size: 13px;
    margin: 20px;
}