body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: url("../imagens/banner.jpg");
    text-align: center;
    padding-bottom: 1.5em;
}

nav {
    position: absolute;
    right: 1.5em;
    top: 13.5em;
}

nav li {
    display: inline;
    margin: 0.6em;
}

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #414e7a;
    text-decoration: underline;
}

main {
    width: 100%;
    margin: 0 auto;
}

.principal {
    padding: 1em 18em 0px;
    margin: 1em auto 1em;
}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: rgb(0, 190, 165);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(3, 150, 137);
    transform: scale(1.04);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #3c5e5b;
    color: #ffffff;
    font-weight: bold;
}

td,
th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

.banner {
    width: 100%;
}

footer {
    text-align: center;
    background: url("../imagens/banner.jpg");
    height: 11.2em;
}

.copyright {
    color: azure;
    font-size: 13px;
}