body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: url("../imagens/banner.jpg");
    height: 250px;
    text-align: center;
}

nav {
    position: absolute;
    right: 1.5em;
    top: 13.5em;
}

nav li {
    display: inline;
    margin: 0.6em;
}

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #414e7a;
    text-decoration: underline;
}
main {
    width: 100%;
    margin: 0 auto;
}

.principal {
    padding: 2em 1em 0;
    margin: 2em auto 0;
    width: 940px;
}

.foto-tattoo {
    width: 19%;
    opacity: 1;
    transition: 400ms;
    padding: 0.2em;
    /*box-shadow: 0px 0px 20px 10px #888888;*/
}

.foto-tattoo:hover {
    opacity: 0.8;
}

footer {
    text-align: center;
    background: url("../imagens/banner.jpg");
    height: 16em;
}

.copyright {
    color: azure;
    font-size: 13px;
}

