body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: url("../imagens/bg.jpg");
    height: 250px;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #414e7a;
    text-decoration: underline;
}

main {
    width: 100%;
    margin: 0 auto;
}

.imagembeneficios {
    padding-top: 8px;
    width: 19%;
    opacity: 0.8;
    transition: 400ms;
    /*box-shadow: 0px 0px 20px 10px #888888;*/
}

.imagembeneficios:hover {
    opacity: 1;
}

footer {
    text-align: center;
    background: url("../imagens/bg.jpg");
    padding: 1em 0;
    height: 16em;
}

.copyright {
    color: azure;
    font-size: 13px;
    margin: 20px;
}

